h1 {
	text-align: center;
	font-family: Arial;
	font-size: 40;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
	font-family: Arial;
	font-size: 15;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #fff;

}

li:last-child {
    border-right: none;
    color: white;
}

a {
	color: white;
}

img {
	text-align: center;
}