h1 {
	text-align: center;
	font-family: Arial;
	font-size: 40;

}

h2 {
	text-align: center;
	font-family: Arial;
	font-size: 30;
}

p {
	text-align: center;
	font-family: Arial;
	font-size: 25;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
    font-family: Arial;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #33cccc;
}

a {
	color: white;
}

img {
    display: block;
    margin: auto;
    width: 20%;
    padding-top: 20px;
    padding-bottom: 15px;
}

